html {
  font-size: 125%;
}

body {
  background-image: linear-gradient(120deg , #4DA0B0 0%, #D39D38 100%);
  color: whitesmoke;
  text-align: center;
  min-height: 100vh;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
}

h1 {
  font-size: 2rem;
}

form {
  padding: 20px;
}
.todo-input,
.todo-filter {
  padding: 5px;
  border: none;
  border-radius: 2px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.todo {
  display: flex;
  padding: 5px;
}

.todo-item {
  padding: 5px;
  background: rgba(64, 125, 187, 0.5);
  border-radius: 2px;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
  background: rgba(20, 23, 26, 0.5);
}
.todo-button,
.completed-button,
.trash-button {
  border: none;
  border-radius: 2px;
  margin: 0px 2px;
}
